*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'San-serif', sans-serif;
}

div.layout {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2Fwp4221864.jpg&f=1&nofb=1&ipt=b01893cb5db40af221cb700e5ef0d0b4b901849fa6468d7aa195e1e8164321cd');
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(10, 10, 15, 0.75);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;

    main{
        padding: 20px;
    }

}